<%- include('templates/header', {title: 'Inventario de Repuestos' }) %>
    <link href="styles/table.css" rel="stylesheet" />


    <div
        class="min-h-screen flex bg-[#F9FBFA] dark:bg-[#061621] text-slate-900 dark:text-slate-100 font-sans transition-colors duration-300">

        <%- include('templates/sidebar') %>

            <div class="flex-1 min-w-0 flex flex-col">

                <%- include('templates/header_page', { title: t('inventory.title') }) %>

                    <main class="p-4 md:p-8">
                        <div class="max-w-[1600px] mx-auto">

                            <div class="bg-transparent dark:bg-[#091E2C] overflow-hidden">
                                <div class="overflow-x-auto">
                                    <div id="table-container"></div>
                                </div>


                            </div>

                        </div>
                    </main>
            </div>
    </div>


    <script src="js/librerias/gridjs.umd.js"></script>
    <link href="styles/librerias/mermaid.min.css" rel="stylesheet" />


    <%- include('templates/footer', { js: 'inventory' }) %>